#video_container{
	display: block;
}

.vjs-custom-icon{
	font-size: initial;
	cursor: pointer;
}

li.nav-item {
    margin: 0px 10px;
}

#video_container{
	width:auto;
	display: inline-block;
}

.vjs-custom-icon .icon{
	position: absolute;
	top: 7px;
}

.video-js{
	width: 640px;
	height: 264px;
}

.socket_log{
	margin: 40px auto;
}