#video_container{
	display: block;
}

.GWatch_container{
    position: relative;
    width: 100%;
}

.mirrored_video
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
}

.fullscreen_vidjs .video-js{
	width: 100%;
	height:98%;
}

#GWatch_camContainer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: inline-block;
}

#GWatch_camContainer video{
	z-index: 1;
	position: relative;
}

.vjs-custom-icon{
	font-size: initial;
	cursor: pointer;
}

li.nav-item {
    margin: 0px 10px;
}

#video_container{
	width:auto;
	display: inline-block;
}

.vjs-custom-icon .icon{
	position: absolute;
	top: 7px;
}

.video-js{
	width: 640px;
	height: 264px;
	max-width: 100%;
}

.socket_log{
	margin: 40px auto;
}