.GWatch_container{
    position: relative;
    width: 640px;
    display: inline-block;
    text-align: left;
    max-width: 100%;
}

.fullscreen_vidjs .video-js{
	width: 100%;
	height: 100%;
}

.fullscreen_vidjs #GWatch_playerContainer{
	height: 100%;
}
.GWatch_chat_container{
    position: absolute;
    bottom: 0px;
    width: 100%;
    right: 0px;
    display: block;
    height: 30%;
}
.GWatch_chat_subcontainer{
    height: 100%;
}
.GWatch_chatBoxPaper{
    padding: 10px;
    overflow: scroll;
    height: 100%;
    background: #fff;    
    padding-bottom: 33px;
    box-sizing: border-box;
}

.GWatch_chat_container div,.GWatch_chatInput{
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}
.GWatch_chat_container input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
}

.mirrored_video
{
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    -moz-transform:rotateY(180deg); /* Firefox */
    width: 100%;
}
.disableResizer #GWatch_panResizer {
    display: none;
}

#GWatch_panResizer {
	position: absolute;
    left: -9px;
    top: 0;
    bottom: 0;
    border-right: 1px dotted #3a3838;
    width: 8px;
    background: rgba(0,0,0,0);
    z-index: 55;
    cursor: w-resize;
}

.vjs-fullscreen{
	display: none;
}

#GWatch_playerContainer {
    position: relative;
    width: 100%;
    z-index: 99;
    display: inline-block;
}

#GWatch_camContainer {
    position: fixed;
    bottom: 0px;
    right: 0px;
    height: 100%;
    width: 20%;
    display: inline-block;
}

#GWatch_camContainer video{
	z-index: 1;
	position: relative;
}

.vjs-custom-icon{
	font-size: initial;
	cursor: pointer;
}

li.nav-item {
    margin: 0px 10px;
}


.vjs-custom-icon .icon{
	position: absolute;
	top: 7px;
}

.video-js{
	width: 100%;
	height: 360px;
}

.socket_log{
	margin: 40px auto;
}